#body {
    background-color: #c14040;
    font-family: 'Bree Serif', serif;
}

#header {
    background-color: #efe3e3;
    border-radius: 0.9rem;
    height: 2.5rem;
    display: flex;
}

#nav-bar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Code Css du titre "Pokedex" du header */

.pokedex-title {
    font-size: 1.1rem;
    width: 15%;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

.pokedex-title a {
    text-decoration: none;
    color: rgb(194, 78, 96);
}

/* Code Css de la partie "liste" et "type" du header */

.nav-bar {
    display: flex;
    padding: 0rem;
    flex-wrap: wrap;
    width: 15%;
}

.nav-bar ul {
    padding: 0;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0;
}

.nav-bar li {
    list-style: none;
    font-size: 0.7rem;
    font-weight:bold;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(194, 78, 96);
}